body{
    height: 100vh;
    width: auto;
    background-color: white;
}
.login{
    margin-top: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-button{
    cursor: pointer;
    background: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 4px;
    padding: 1px 2px;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.39);
}
.custom-button-img{
    cursor: pointer;
    background: white;
    border-radius: 10%;
    display: block;
    height: 30px; 
    width: 30px;
    padding: 10px;
}
.custom-button-img img{
    height: 30px; 
    width: 30px;
}
.login input{
    cursor:text;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.39);
}